# Configuration Supabase (NE PAS COMMITTER CE FICHIER)
SUPABASE_URL=https://pqyqdvpncpohelzdfdop.supabase.co
SUPABASE_SERVICE_ROLE_KEY=votre_service_role_key_ici
TMDB_API_KEY=106f51e20c9abaeec709f99ad73c7991
