.app {
  min-height: 100vh;
  background: #e5e2dc;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.content {
  flex: 1;
  padding-bottom: calc(58px + env(safe-area-inset-bottom, 0px));
}

@media (min-width: 1024px) {
  .content {
    padding-bottom: 0;
    padding-left: 220px;
  }
}
